@charset "UTF-8";
body {font-family:"futura-pt",sans-serif;}
a:link {color: #FFF; text-decoration: none;}
a:visited {text-decoration: none; color: #FFF;}
a:hover {text-decoration: underline; color: #FFF;}
a:active {text-decoration: none; color: #FFF;}
.bg-header {background-color:#00A4E4; padding:30px 0;}
.bg-overlay {background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../images/featured-content.jpg); background-repeat:no-repeat; background-size:cover; background-position:center center; color:#fff; height:450px;}
.box{min-height:80px; display:table-cell; vertical-align:middle; margin:0; padding:60px 40px 80px 40px;}
.box::before{border-bottom:18px solid #FFF; bottom:0; content:""; display:block; height:50px; width:50px; position:absolute; left:0; border-left:18px solid #fff;}
.box::after{border-bottom:18px solid #FFF; bottom:0; content:""; display:block; height:50px; width:50px; position:absolute; right:0; border-right:18px solid #FFF;}
.featuredText::before{border-top:18px solid #fff; content:""; display:block; height:50px; width:50px; position:absolute; left:0; top:0; border-left:18px solid #fff;}
.featuredText::after{border-top:18px solid #fff; content:""; display:block; height:50px; width:50px; position:absolute; right:0; top:0; border-right:18px solid #fff;}
.featuredText .box h3{margin-bottom:0;}
.featuredText .box h2{margin:0;}
.spacing{margin:0;padding:0;}
.feature{display:table; width:100%; height:100%; vertical-align:middle; text-align:center;}
.cn {display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:center;}
.inner {display:inline-block; color:#fff; font-size:30px;}
.bg {background:#282828;}
.bg2 {background:#282828; border-bottom: solid #363636 1px;}
.bg3 {background:#282828; padding:40px 0;}
.bg4{padding:40px 0; background-color:#363636; border-bottom: solid #666 1px;}
h1{color:#50c8e8;}
.download-header {margin-bottom:30px;}
.intro {padding:40px 0;}
.intro-body{font-size:20px; font-weight:100; color:#FFF; line-height:28px; padding:20px 0 0 0;}
.pdf-text {font-size:18px; line-height:26px; color:#00a4e4;}
.pdf-text:hover, .pdf-text:focus, .pdf-text:active, .pdf-text.active{color:#428bca;}
.btn-aig {background-color: hsl(35, 100%, 44%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa528", endColorstr="#e36f1e"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa528), to(#e36f1e)); background-image: -moz-linear-gradient(top, #ffa528, #e36f1e); background-image: -ms-linear-gradient(top, #ffa528, #e36f1e); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa528), color-stop(100%, #e36f1e)); background-image: -webkit-linear-gradient(top, #ffa528, #e36f1e); background-image: -o-linear-gradient(top, #ffa528, #e36f1e); background-image: linear-gradient(#ffa528, #e36f1e); border-color: #e36f1e #e36f1e hsl(35, 100%, 40.5%); color: #fff !important; font-weight: bold; text-transform:uppercase; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23); -webkit-font-smoothing: antialiased;}
.btn-aig:hover, .btn-aig:focus, .btn-aig:active, .btn-aig.active, .open>.dropdown-toggle.btn-aig{background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2))}
.btn-row-space{margin:40px 0;}
.text-left-btn{text-align: right; padding:0 80px;}
.text-right-btn{text-align: left; padding:0 80px;}
.footerbg{background-color:#000; padding:40px 0;}
.footer-tspace{padding-bottom:40px;}
.footer{font-size:16px; color:#fff;}
.footer-end{font-weight:100; font-size:12px; opacity:.6}
a.pdf-1:hover{text-decoration: underline; color: #428bca;}
.sp-all{margin-bottom: 20px;}

/* Media query for Mobile devices*/
@media screen and (max-width:480px) {
	h2{font-size:70%;}
	.box{padding:40px 30px 50px 30px;}
	.box::before{border-bottom:14px solid #FFF; bottom:0; content:""; display:block; height:40px; width:40px; position:absolute; left:0; border-left:14px solid #fff;}
	.box::after{border-bottom:14px solid #FFF; bottom:0; content:""; display:block; height:40px; width:40px; position:absolute; right:0; border-right:14px solid #FFF;}
	.featuredText::before{border-top:14px solid #fff; content:""; display:block; height:40px; width:40px; position:absolute; left:0; top:0; border-left:14px solid #fff;}
	.featuredText::after{border-top:14px solid #fff; content:""; display:block; height:40px; width:40px; position:absolute; right:0; top:0; border-right:14px solid #fff;}
	.btn-aig{display:block; margin:0 20px 0 20px;}
	.btn-row-space{margin:20px 0;}
}
/* Media Query for Tablets */
@media screen and (max-width:768px) {
	.btn-aig{display:block; margin:0 20px 0 20px;}
	.btn-row-space{margin:20px 0;}
}
/* Desktops and laptops  */
@media only screen and (max-width:1024px) {
}